__pycache__/
*.pyc
.DS_Store
out
website/
docs-minimind/

# 虚拟环境
.venv/
venv/
env/

# 编辑器 / IDE
.vscode/
.idea/
*.swp

# 模型权重 & 训练产物
checkpoints/
*.pth
*.bin
*.safetensors
*.ckpt
*.gguf

# 训练日志
wandb/
swanlog/
*.log

# 密钥
.env
*.key
*.pem
